@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


body {
background-color: #D9AFD9;
background-image: linear-gradient(307deg, #D9AFD9 0%, #97D9E1 100%);

}

div {
	margin: auto;
	width: 200px;
	padding-top: 20px;
	align-content: center;
}

input {
	font-family: 'Outfit', sans-serif;
	border-color: lightblue;
	margin-left: 100px;
}

#idenviar {
	martin:  auto;
	border-radius: 5px;

	margin-top: 20px;
}

h1 {
	font-family: 'Outfit', sans-serif;
	margin: auto;
	width: 200px;
	padding-top: 25px;
	align-content: center;
}



